<!-- banner -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Apro-Tech
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="w3layouts_breadcrumbs_left">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>/</span></li>
					<li><i class="fa fa-picture-o" aria-hidden="true"></i>Products</li>
				</ul>
			</div>
			<div class="w3layouts_breadcrumbs_right">
				<h2>Products</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- gallery -->

	<div class="welcome">
		<div class="container">
        <div class="col-lg-12"> 
					{{#each posts}}   
             <div class="col-md-3 border border-info mb-3">
          <img src="{{file}}" class="img-fluid img-responsive m-1" alt="">
          <h2>{{title}}</h2>price<span class="badge">NGN{{price}}</span>
          <p>{{description}} was posted on 
						the {{creationDate}}
					</p>
					<a href="/add-to-cart/{{_id}}">
							<button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
					</a>
        </div>
				
				{{/each}}
		</div> 
		</div>
	</div>
<!-- //gallery -->
	{{!-- <script src="js/lsb.min.js"></script>
	<script>
	$(window).load(function() {
		  $.fn.lightspeedBox();
		});
	</script> --}}