<div class="container">
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
{{#each ship}}
<h1>welcome to your shipping details</h1>
    <hr>
	<h3><label for="exampleInputEmail1">First Name:</label>
    {{firstName}} </h3> <br>
    <h3><label for="exampleInputEmail1">Last Name:</label>
    {{lastName}} </h3> <br>
    <h3><label for="">Email:</label>
    {{email}}</h3> <br>
    <h3><label for="">Address:</label>
    {{address}}</h3><br>
    <h3><label for="">Phone Number:</label>
    {{number}}</h3>
{{/each}}
</div>

<div class="col-lg-3"></div>
</div>
</div>